<h1>Login</h1>
   <%= form_tag '/login', method: 'get' do %>
   <%= label_tag :name%>
   <%= text_field_tag :name %>
   <%= label_tag :password%>
   <%= password_field_tag :password_digest%>
   <%= submit_tag "Login"%>
<%end%><br>

<div><%=button_to "Back to Create an Account", new_user_path, method: 'get'%></div>