<!DOCTYPE html>
<html>
  <head>
    <title>MemeYaLater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%if current_user %>
        <%=current_user.name%>
        |
        <%=link_to 'Home', memes_path%>
      |
      <%=link_to "Profile", user_path(current_user)%>
      |
      <%= link_to 'Post Meme', new_meme_path, method: :get %>
      |
       
      <%=collection_select(:category, :category_id, Category.all, :id, :name)%>
      |
      <%=link_to "Log out", logout_path, method: :delete%>
      <%else%>
      <%=link_to "Login", login_path%>
      |
      <%=link_to "Sign Up", new_user_path%>
      <%end%>
      
    </header>
    <%= yield %>
  </body>
</html>
