<h1>New Message To </h1>

<%= form_for @message do |f| %>
    <%= f.collection_select :receiver_id, User.all, :id, :name %><br>

    <strong><%= f.label :body, "Enter your message below" %></strong><br>
    <%= f.text_area :body %><br>

    <%= f.submit "Send" %>
<% end %>

