<h1> Upload a New Meme</h1>
<%= form_for @meme do |f| %>
    <% if @meme.errors.any? %>
        <% @meme.errors.full_messages.each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    <%= f.label :url%>
    <%= f.text_field :url %>
    <%= f.label :category %>
    <%= f.collection_select(:category, Category.all, :id, :name) %>
    <% if current_user %>
        User ID: <%= current_user.id %>
        User Name: <%= current_user.username %>
        <% f.hidden_field :user_id, value: current_user.id %>
    <% end %>
    <%= f.submit "Post Meme" %>
    <% @meme.user = @current_user %>
<%end%>
