<h1> Upload a New Meme</h1>
<%= form_for @meme do |f| %>
    <% if @meme.errors.any? %>
        <% @meme.errors.full_messages.each do |error| %>
            <%= error %><br>
        <% end %>
    <% end %>
    <%= f.label :url%><br>
    <%= f.text_field :url %><br>
    <%= f.label :category %><br>
    <%= f.collection_select(:category, Category.all, :id, :name) %><br>
    <%= f.submit "Post Meme" %>
<%end%>
