<h1> Upload a New Meme</h1>
<%= form_for @meme do |f| %>
    <% if @meme.errors.any? %>
        <% @meme.errors.full_messages.each do |message| %>
            <%= message %><br>

        <% end %>
    <% end %>
    <%= f.label :url%><br>
    <%= f.text_field :url %><br>
    <%= f.label :file %><br>
    <%= f.file_field :file %><br>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %><br>
    <%= f.submit "Post Meme" %>
<%end%>
