<div class="jumbotron">
<h1>Sign Up</h1>
</div>

   
<%= form_for @user, :html => {:class => "form-horizontal center"} do |f|%>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "form-group">
  <%= f.label :name, class: 'col-md4 control-label'%><br>
  <div class="col-md-8">
  <%=f.text_field :name, class: "form-control"%><br>
  </div>
</div>
<div class="form-group">
  <%= f.label :username, class: 'col-md4 control-label' %><br>
  <div class="col-md-8">
  <%= f.text_field :username, class: "form-control"%><br>
  </div>
</div>
<div class="form-group">
  <%= f.label :email_address,"email", class:  "col-md4 control-label" %><br>
  <div class= "col-md-8">
  <%= f.email_field :email_address, class: "form-control" %><br>
  </div>
</div>
<div class="form-group"> 
  <%= f.label :password, class: 'col-md4 control-label' %><br>
  <div class= "col-md-8">
  <%= f.password_field :password, class: "form-control" %><br>
  </div>
</div>
<div class="form-group"> 
  <%= f.label :password_confirmation, class: 'col-md4 control-label'  %><br>
  <div class= "col-md-8">
  <%= f.password_field :password_confirmation, class: "form-control" %><br>
  </div>
</div>
<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<%end%>
