<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% @user.memes.each do |meme| %>
  <h2><%= link_to meme_path(meme) %></h2>
  <% if meme.url.present? %>
    <p><%= image_tag meme.url %></p>
  <% else %>
  <%= meme.file %>
  <% end %>
    <p><%# meme.body.truncate(100) %></p> -->
<% end %>
