<p id="notice"><%= notice %></p>
<%# <%= link_to "Send Message", user_messages_path(@user.id), method %> %>

<h1><%= @user.name %></h1>
<%= button_to 'Post Meme', new_meme_path, method: :get %>

<% @user.memes.each do |meme| %>
  <h2><%= link_to meme_path(meme) do %></h2>
  <% if meme.url.present? %>
    <p><%= image_tag meme.url %></p>
  <% else %>
  <%= meme.file %>
  <% end %>
<% end %>
<%end%>


